@mixin flex($align,$justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}
@mixin flexCenter($align) {
    display: flex;
    align-items: $align;
}
@mixin tablet {
    @media screen and (max-width:1023px) {
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width:767px) {
        @content;
    }
}
