
:root {
  --primary-color:#FF6100;
  --black-color: #000000;
  --white-color:#ffffff;
  --p-color:#273150;
  --title-color:#1D2538;
  --gray-color:#AEA299;
  --bg-color:#FEFDFD;
  --hue: 152;

  
  
    --h1-font-size: 6.5rem;
    --h2-font-size: 5rem;
    --h3-font-size: 4rem;
    --h4-font-size: 3.2rem;
    --h5-font-size: 2.4rem;
    --h6-font-size: 2rem;
    --p-font-size:2rem;
    --p-font-size-small: 1.8rem;
    @include tablet {
    --h1-font-size: 4.5rem;
    --h2-font-size: 3.5rem;
    --h3-font-size: 2.8rem;
    --h4-font-size: 2.4rem;
    --h5-font-size: 2.2rem;
    --h6-font-size: 1.9rem;
    --p-font-size:1.8rem;
    --p-font-size-small: 1.6rem;
    }
    @include mobile {
    --h1-font-size: 3.5rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2.2rem;
    --h4-font-size: 2rem;
    --h5-font-size: 1.9rem;
    --h6-font-size: 1.8rem;
    --p-font-size:1.6rem;
    --p-font-size-small: 1.4rem;
    }
    

    --box-shadow: 0px 20px 36px -10px hsl(210, 9%, 87%);
  }
  
  