.btn {
    display: inline-block;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1.45rem 2.9rem;
    font-weight: 700;
    border-radius: 1.5rem;
    letter-spacing: .5rem;
    &-secondary {
        background-color: var(--white-color);
        color: var(--primary-color);
    }
    @include tablet {
        padding: 1.25rem 2.2rem;
    }
    @include mobile {
        padding: 1rem 2rem;
    }
}