.questions{
    background-color: #F5C9B0;
    padding: 6rem 0;
    &__item {
        padding: 2rem;
    }
    &__desc {
        max-width: 49rem;
    }
    &__header{
       @include flex(center,space-between);
        padding: .75rem .5rem;
        cursor: pointer;
    }
    &__content{
        overflow: hidden;
        height: 0;
    }
    &__description {
        color: var(--white-color);
        padding:0 3rem;
    }
    &__item,
    &__header,
    &__item-title,
    &__icon,
    &__description,
    &__content{
        transition: .3s;
    }
}

/*Rotate icon and add font weight to titles*/
.accordion-open{
    &.questions__item {
        background-color: var(--primary-color);
        border-radius: .5rem;
    }
    & .questions__title,
    & .questions__description,
    & .questions__icon{
        color: #FFF;
    }
    & .questions__icon{
        transform: rotate(180deg);
    }
}

// =================== responsize mobile ================
@include mobile {
    .questions {
        padding: 4rem 0;
        &__item {
            padding: 1rem 2rem;
        }
    }
}